*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

:root {
  --font: "Roboto", sans-serif;

  --container-width: 1700px;
  --container-offset: 0 15px;

  --color-blue: #0063a5;

  --animation-duration: 0.3s;
  --animation-name: ease-in-out;

  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.251);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--container-offset);
}

.button {
  padding: 12px 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  &--primary {
    background-color: var(--color-blue);
    color: #fff;
  }
}

.flex {
  display: flex;
  &--center {
    justify-content: center;
    align-items: center;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
  &-1 {
    flex: 1;
  }
  &-2 {
    flex: 2;
  }
}

ul,
ol {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all var(--animation-duration) var(--animation-name);
  &:hover {
    color: var(--color-blue);
  }
}

.section {
  padding: 100px 0px;
  &-header {
    &__title {
      font-weight: 700;
      font-size: 64px;
      text-align: center;
      text-shadow: var(--shadow);
      text-transform: uppercase;
    }
  }
  &__wrapper {
    padding: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-blue);
  }
}

.grid {
  display: grid;
}

// Header

.header {
  padding-bottom: 100px;
  &-nav {
    padding: 30px 0px;
  }
}

.nav {
  &-search {
    .form {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &-input {
        position: relative;
      }
      &__input {
        position: relative;
        color: var(--color-blue);
        border: 1px solid var(--color-blue);
        font-size: 18px;
        font-weight: 500;
        padding: 15px 10px;
        border-radius: 5px;
        padding-right: 50px;
        &::placeholder {
          color: var(--color-blue);
        }
      }
      &__button {
        position: absolute;
        top: 50%;
        cursor: pointer;
        right: 8px;
        transform: translateY(-50%);
        background-color: transparent;
        img {
          height: 40px;
          width: auto;
        }
      }
    }
  }
  &-list {
    background-color: var(--color-blue);
    padding: 20px 30px;
    justify-content: space-between;
    margin-top: 40px;
    &-item {
      overflow: hidden;
      &__link {
        font-weight: 500;
        font-size: 32px;
        color: #fff;
        position: relative;
        &:before {
          content: "";
          width: 100%;
          height: 2px;
          background-color: #fff;
          bottom: 0;
          left: 0;
          position: absolute;
          transform: translateX(-100%);
          transition: transform var(--animation-duration) var(--animation-name);
        }
        &:hover {
          color: #fff;
        }
        &:hover:before {
          transform: translateX(0);
        }
      }
    }
  }
  &-logo {
    align-items: center;
    justify-content: center;
    color: var(--color-blue);
    text-shadow: var(--shadow);
    text-align: center;
    font-weight: 700;
    &__image {
      width: 100%;
      height: 100%;
      max-width: 128px;
      max-height: 128px;
      object-fit: cover;
      margin-bottom: 10px;
    }
    &__title {
      font-size: 82px;
      margin-bottom: 5px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
  &-form {
    &__buttons {
      margin-top: 40px;
      align-items: center;
      justify-content: flex-end;
    }
    .form {
      &__input {
        color: var(--color-blue);
        border: 1px solid var(--color-blue);
        font-size: 18px;
        font-weight: 500;
        padding: 15px 10px;
        border-radius: 5px;
        width: 100%;
        &::placeholder {
          color: var(--color-blue);
        }
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
  }
}

.hero {
  &__wrapper {
    padding: 50px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-blue);
  }
  &-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(480px, 680px);
    gap: 80px;
    &-item {
      position: relative;
      background-color: var(--color-blue);
      &:hover img {
        opacity: 0.8;
      }
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        opacity: 0.4;
        transition: opacity var(--animation-duration) var(--animation-name);
      }
      &__title {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 10px;
      }
    }
  }
}

// Activities

.activities {
  &-header {
    margin-bottom: 80px;
    &__title {
      color: var(--color-blue);
    }
  }
  &-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(260px, 320px);
    gap: 55px 150px;
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0px 80px;
      background-color: var(--color-blue);
      color: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &__text {
        font-weight: bold;
        font-size: 28px;
        text-align: center;
        text-shadow: var(--shadow);
      }
    }
  }
}

// Target

.target {
  background-image: url("../assets/images/target-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &-header {
    &__title {
      color: #fff;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & img {
      width: auto;
      height: auto;
      object-fit: fill;
    }
  }
  &__text {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    padding: 0px 150px;
    text-shadow: var(--shadow);
  }
  .section__wrapper {
    border-color: #fff;
  }
}

// Contacts

.contacts {
  background-color: var(--color-blue);
  .section__wrapper {
    border-color: #fff;
  }
  &-header {
    &__title {
      color: #fff;
    }
    margin-bottom: 80px;
  }
  &-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 460px;
    gap: 100px;
    &-item {
      background-color: #fff;
      padding: 50px;
      font-size: 24px;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      a {
        color: var(--color-blue);
      }
      &__heading {
        font-weight: 700;
        margin-bottom: 15px;
      }
      &__text {
        font-weight: 400;
        margin-bottom: 15px;
      }
      &-info {
        margin-left: 10px;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

// Доп. образование
.education {
  background-color: var(--color-blue);
  .section__wrapper {
    border-color: #fff;
  }
  &-header {
    &__title {
      color: #fff;
    }
    margin-bottom: 80px;
  }
  &-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 390px;
    gap: 80px;
    &-item {
      border: 3px solid #fff;
      background-color: #fff;
      font-size: 36px;
      font-weight: 700;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      overflow: hidden;
      position: relative;
      &__link {
        width: 100%;
        height: 100%;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }
  }
}

// Мероприятия
.events {
  background-color: var(--color-blue);
  .section__wrapper {
    border-color: #fff;
  }
  &-header {
    &__title {
      color: #fff;
    }
    margin-bottom: 80px;
  }
  &-grid {
    grid-template-columns: 1fr;
    color: #fff;
    gap: 100px;
    &-item {
      align-items: center;
      justify-content: space-between;
      text-align: center;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
    }
  }

  &-card {
    // max-height: 600px;
    & ~ h2 {
      text-align: center;
    }
    &-content {
      padding: 20px;
      background-color: #fff;
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // h3,
      // p {
      //   color: #000;
      // }
    }
    &-image {
      position: relative;
      a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.3);
        padding: 10px 20px;
      }
    }
  }
}

// Footer
.footer {
  text-shadow: var(--shadow);
  a {
    color: var(--color-blue);
    font-weight: bold;
    font-size: 36px;
    text-align: center;
  }
  &__text {
    color: var(--color-blue);
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin: 10px 0;
  }
  &__link {
    text-decoration: underline;
  }
  .col {
    align-items: center;
    justify-content: center;
  }
  &-logo {
    align-items: center;
    justify-content: center;
    color: var(--color-blue);
    text-shadow: var(--shadow);
    text-align: center;
    font-weight: 700;
    &__image {
      width: 100%;
      height: 100%;
      max-width: 128px;
      max-height: 128px;
      object-fit: cover;
      margin-bottom: 10px;
    }
    &__title {
      font-size: 82px;
      margin-bottom: 5px;
    }
    &__subtitle {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 1660px) {
  .hero {
    &-grid {
      gap: 40px;
      grid-auto-rows: minmax(480px, 600px);
      &-item {
        &__title {
          font-size: 38px;
        }
      }
    }
  }

  .nav {
    &-logo {
      &__title {
        font-size: 70px;
      }
      &__subtitle {
        font-size: 16px;
      }
    }
  }

  .activities {
    &-grid {
      gap: 50px 100px;
    }
  }
  .contacts {
    &-grid {
      &-item {
        padding: 20px;
      }
    }
  }
  .section {
    padding: 90px 0;
  }
}

@media screen and (max-width: 1280px) {
  .activities {
    &-grid {
      gap: 40px;
      &-item {
        padding: 30px;
      }
    }
    &-header {
      margin-bottom: 40px;
    }
  }
  .nav {
    &-logo {
      &__image {
        max-width: 96px;
        max-height: 96px;
      }
      &__title {
        font-size: 48px;
      }
      &__subtitle {
        font-size: 14px;
      }
    }
    &-list {
      &-item__link {
        font-size: 22px;
      }
    }
  }

  .footer {
    a {
      font-size: 24px;
    }
    &__text {
      font-size: 24px;
    }
    &-logo {
      &__title {
        font-size: 48px;
      }
      &__image {
        max-width: 96px;
        max-height: 96px;
      }
      &__subtitle {
        font-size: 14px;
      }
    }
  }
  .hero {
    &-grid {
      gap: 10px;
      &-item {
        &__title {
          font-size: 32px;
        }
      }
    }
    &__wrapper {
      padding: 25px;
    }
  }
  .header {
    padding-bottom: 60px;
  }
  .target__text {
    font-size: 38px;
  }
  .section {
    padding: 60px 0px;
    &__wrapper {
      padding: 25px;
    }
  }

  .contacts {
    &-header {
      margin-bottom: 40px;
    }
    &-grid {
      gap: 20px;
      grid-auto-rows: 380px;
      &-item {
        font-size: 18px;
        &__heading,
        &__text {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 996px) {
  .section {
    &-header {
      &__title {
        font-size: 48px;
      }
    }
  }

  .education {
    &-grid {
      gap: 40px;
      &-item {
        &__title {
          font-size: 24px;
        }
      }
    }
  }

  .target {
    &__text {
      font-size: 24px;
    }
    &-content {
      img {
        width: 48px;
      }
    }
  }

  .activities {
    &-grid {
      gap: 20px;
      grid-auto-rows: 280px;
      &-item {
        &__text {
          font-size: 24px;
        }
      }
    }
  }

  .header {
    &-nav {
      padding: 15px 0;
    }
  }

  .nav {
    &-logo {
      &__image {
        max-width: 64px;
        max-height: 64px;
      }
      &__subtitle {
        font-size: 12px;
      }
      &__title {
        font-size: 36px;
      }
    }
    &-list {
      margin-top: 20px;
      &-item {
        &__link {
          font-size: 18px;
        }
      }
    }
  }

  .section {
    padding: 45px 0px;
  }

  .hero {
    &__wrapper {
      padding: 10px;
    }
    &-grid {
      gap: 10px;
      grid-auto-rows: 480px;
      &-item {
        &__title {
          font-size: 28px;
        }
      }
    }
  }
  .footer {
    &-logo {
      &__image {
        max-width: 64px;
        max-height: 64px;
      }
      &__subtitle {
        font-size: 12px;
      }
      &__title {
        font-size: 36px;
      }
    }
    &__text,
    & a {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 886px) {
  .hero-grid {
    grid-auto-rows: 380px;
  }
  .hero-grid-item__title {
    font-size: 22px;
  }

  .events-grid {
    gap: 50px;
  }
}

@media screen and (max-width: 780px) {
  .events-grid {
    gap: 50px;
    grid-template-columns: 1fr;
    &-item {
      &:nth-child(odd),
      &:nth-child(even) {
        flex-direction: column;
      }
    }
  }
  .events-card {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .nav {
    &-list {
      display: none;
    }
    .row {
      flex-direction: column;
    }
    &-logo {
      order: 1;
      &__subtitle {
        max-width: 300px;
      }
    }
    &-form {
      margin-top: 20px;
      order: 2;
      &__buttons {
        margin: 0;
        margin-left: 20px;
      }
      .form {
        &__input {
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }
      .col {
        flex-direction: row;
        .row {
          flex-direction: row;
        }
      }
    }
    &-search {
      order: 3;
      margin-top: 20px;
    }
  }
  .hero {
    &-grid {
      grid-template-columns: 1fr;
      &-item {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }
  .contacts {
    &-grid {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
    }
  }
  .section {
    &__wrapper {
      padding: 10px;
    }
    &-header {
      &__title {
        font-size: 38px;
      }
    }
  }
  .target {
    img {
      margin: 20px 0px;
    }
    .section__wrapper {
      padding: 40px 0px;
    }
    &__text {
      padding: 0 20px;
    }
  }
  .activities {
    &-grid {
      gap: 10px;
      grid-auto-rows: minmax(230px, auto);
      &-item {
        padding: 10px;
        &__text {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .activities {
    &-grid {
      grid-template-columns: 1fr;
    }
  }
  .contacts-grid-item {
    .row {
      flex-direction: column;
    }
  }
  .footer {
    .row {
      flex-direction: column;
      .col {
        margin: 10px 0;
        &:nth-child(1) {
          order: 3;
        }
        &:nth-child(2) {
          order: 1;
        }
        &:nth-child(3) {
          order: 2;
        }
      }
    }
  }

  .section {
    &-header {
      margin-bottom: 20px;
      &__title {
        font-size: 32px;
      }
    }
  }
  .nav-form .form {
    .col {
      flex-direction: column;
    }
    .nav-form__buttons {
      justify-content: center;
      align-items: center;
      margin: 0;
      margin-top: 10px;
      .button {
        width: 100%;
      }
    }
  }
  .education {
    &-grid {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      gap: 40px;
      &-item {
        &__title {
          font-size: 36px;
        }
      }
    }
  }
}
